
/* Your CSS Code here. */
div{
width:200px;
	background-color:purple;
	border-color:green;
	color:white;
	border:none;
	border-width:5px;
	font-size:20px;

	border-left: 5px solid green;	
padding: 10px;
	border-width-left:5px green;
	padding:10px;
	
}